* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: antiquewhite;
}

#PontosTuristicos img{
    margin-left: 23px;
    height: 350px;
    width: 500px;
    margin-bottom: 15px;
}
#PontosTuristicos p {
    margin-left: 30px;
}

.Pontos{
    padding: 2%

}

.Pontos h3 {
    font-size: 30px;
    font-family: system-ui;
    background-color: pink;
    margin-bottom: 20px;
}

#Informacoes p{
    margin-left: 20px;
    margin-right: 300px;
    margin-bottom: 15px;
    line-height: 1.2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#Informacoes h3 {
    margin-left: 20px;
    margin-right: 300px;
    margin-bottom: 15px;
    line-height: 1.2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

#link a { 
    color: red;
}

header img{
    height: 175px;
    width: 175px;
}
header p {
    font-weight: bold;
    font-size: 40px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    padding: 10px 1%;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to right, rgb(119, 121, 243), rgb(240, 235, 236));
}

h1 {
    padding: 3%;
    font-size: 35px;
}

footer img {
    height: 175px;
    width: 175px;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(to left, rgb(119, 121, 243), rgb(240, 235, 236));
}

footer p {
    color: darkblue;
    font-size: large;
    margin-left: 35px;
}   

footer ul {
    margin-left: 60px;
}
